.row
  .col-md-6.col-md-offset-3
    %h2 Resend confirmation instructions
    = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      .form-inputs
        = f.input :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
      .form-actions
        = f.button :submit, 'Resend confirmation instructions'
    = render 'devise/shared/links'
