.row.profile
  .col-md-3
    .profile-sidebar
      .profile-userpic
        = image_tag('default_profile.jpg')
      .profile-usertitle
        .profile-usertitle-name
          = @user.name
        .profile-usertitle-job
          = @user.nickname
      .profile-userbuttons
        .btn.btn-success.btn-sm
          Level
          = @user.level
      .profile-usermenu
        %ul.nav
          %li.active
            %a{ href: '#' }
              %i.fa.fa-line-chart
              Activity
          %li
            %a{ href: '#' }
              %i.fa.fa-user
              Profile
          %li
            %a{ href: '#' }
              %i.fa.fa-trophy
              Achievements
          %li
            %a{ href: '#' }
              %i.fa.fa-group
              Teams
  .col-md-9
    .profile-content
      .panel.panel-success
        .panel-heading
          %h3.panel-title
            Expierience
        .panel-body
          = level_progressbar(@user)
      .panel.panel-info
        .panel-heading
          %h3.panel-title
            Achievements
        .panel-body
          .btn-group.btn-group-justified{ role: 'group'}
            .btn.btn-default.nocursor
              %i.fa.fa-trophy{ style: 'color: gold' }
              ×#{@user.achievements.gold.count}
            .btn.btn-default.nocursor
              %i.fa.fa-trophy{ style: 'color: silver' }
              ×#{@user.achievements.silver.count}
            .btn.btn-default.nocursor
              %i.fa.fa-trophy{ style: 'color: saddlebrown' }
              ×#{@user.achievements.bronze.count}

          %table.table
            %thead
              %tr
                %th
                  Recent
            %tbody
              - @recent_achievements.each do |au|
                %tr
                  %td
                    = au.achievement.name
                    %i.fa.fa-trophy{ style: icon_style(au.achievement) }
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Experience gain per day
        .panel-body
          = area_chart points_per_day_charts_path(user_id: @user.id), label: 'Experience'
