.row
  .col-md-6.col-md-offset-3
    = simple_form_for @achievements_user do |f|
      = f.error_notification
      .form-inputs
        = f.input :achievement_id, collection: @achievements, include_blank: false, autofocus: true
        = f.input :user_id, collection: @users, include_blank: false
      .form-actions
        = f.button :submit, 'Save changes'
