%nav.navbar.navbar-default{ role: 'navigation' }
  .container-fluid
    .navbar-header
      %button.navbar-toggle{ 'data-target' => '#bs-example-navbar-collapse-1', 'data-toggle' => 'collapse', type: 'button' }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Home', root_path, class: 'navbar-brand'
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if user_signed_in?
          %li
            = link_to 'Achievements', achievements_path
          %li
            = link_to 'Teams', teams_path
          - if current_user.admin?
            %li
              = link_to 'Grant an achievement', new_achievements_user_path
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          - if user_signed_in?
            %a.dropdown-toggle{ 'data-toggle' => 'dropdown', href: '#' }
              Account
              %span.caret
            %ul.dropdown-menu{ role: 'menu' }
              %li
                = link_to 'Profile', me_path
              %li
                = link_to 'Settings', edit_user_registration_path
              %li.divider
              %li
                = link_to 'Log out', destroy_user_session_path, method: :delete
          - else
            %li
              = link_to 'Log in', new_user_session_path
